/* Header */
:host {
  display: contents;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 65px;
  overflow: unset;
}

.header.dark {
  background: #252323;
  color: var(--neutral-light);
}

.header.light {
  background: #ffffff;
  color: var(--neutral-cloudy);
}

.header.light .logo svg path:nth-child(1) {
  fill: var(--dark-text-color);
}

.header.light .info svg path {
  stroke: var(--neutral-cloudy);
}
.header.light .info svg path:last-child {
  fill: var(--neutral-cloudy);
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo > svg:nth-child(1) {
  margin-top: 15px;
}

.header .logo a.return-button {
  margin: 10px 0;
  margin-left: 56px;
  padding: 16.5px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: var(--neutral-cloudy);

  border-radius: 8px;
  border: 1px solid var(--neutral-cloudy);
}

.header .logo a.return-button svg path {
  fill: none;
}

.header .info,
.header .info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .info > div {
  position: relative;
  gap: 8px;
  padding: 0 32px;
}

.header .info > div:nth-last-child(1),
.header .info > div:nth-last-child(2) {
  padding-right: 0;
}

.header .info > div:nth-child(1):after,
.header .info > div:nth-child(2):after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 1px;
  background: var(--neutral-light);
}

.header .info span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.header .info > div > img.user-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.header .info > div.menu {
  position: absolute;
  top: calc(100% + 20px);
  right: 40px;
  z-index: 11;
  overflow: unset;

  width: 150px;
  height: auto;
  padding: 0;
  background: #252323;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.header.light .info > div.menu {
  background: #fff;
}

.header .info > div.menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 85px;
  width: 20px;
  height: 20px;
  background: inherit;
  transform: rotate(45deg);
}

.header .info > div.menu.active {
  opacity: 1;
  visibility: visible;
}

.header .info > div.menu ul {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: column;
}

.header .info > div.menu ul li {
  list-style: none;
  list-style-position: inside;
  width: 100%;
  padding: 15px 20px;
  transition: 0.5s;
}

.header .info > div.menu ul li:hover {
  font-weight: 600;
  cursor: pointer;
}

.header .info > div.menu ul a {
  color: inherit;
}
.header .info > div.menu ul a:hover {
  text-decoration: none;
}

.menu-cover {
  display: none;
}

.menu-cover.active {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  background-color: transparent;
}
