:host {
  display: contents;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-container:hover {
  text-decoration: none;
}

.icon-container .icon-title {
  position: relative;
  font-family: Poppins;
  font-size: 49px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-bottom: 36px;
}

.icon-container .icon-title::before {
  position: absolute;

  content: "";
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  width: 28px;
  height: 4px;
}

.icon-container .icon-bg {
  position: relative;
  display: grid;
  place-items: center;
  border: 31px solid #464141;
  border-radius: 50%;
  width: 311px;
  height: 311px;
  background-image: var(--image-url);
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-container .icon-bg img {
  position: absolute;
  height: 100%;
}

.icon-container .icon-bg svg {
  width: 150px;
  /* height: 138.29px; */
}

:host:nth-of-type(1) .icon-title::before {
  background: #4173cd;
}
:host:nth-of-type(2) .icon-title::before {
  background: #1dc763;
}
:host:nth-of-type(3) .icon-title::before {
  background: #f6b5ff;
}
:host:nth-of-type(4) .icon-title::before {
  background: #ff0000;
}

:host:nth-of-type(1) .icon-bg {
  background-color: #c2d8ff;
}
:host:nth-of-type(2) .icon-bg {
  background-color: #91dea2;
}
:host:nth-of-type(3) .icon-bg {
  background-color: #f4aeff;
}
:host:nth-of-type(4) .icon-bg {
  background-color: #ffbfbf;
}

:host:nth-of-type(1) .icon-bg img {
  top: 5%;
  left: -5%;
}
